---
title: Home
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: assets/images/Cover photo.jpg
first_row:
  - image_path: assets/images/Publications.jpg
    alt: "Researchers at CAMES"
    title: "Publications"
    excerpt: "All about our publications"
    url: "/publications"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: assets/images/Events.jpg
    alt: "placeholder image 2"
    title: "Events"
    excerpt: "What is happening when"
    url: "/events"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: assets/images/Research.jpg
    title: "Research"
    excerpt: "What are we working on"
    url: "/research"
    btn_label: "Read More"
    btn_class: "btn--inverse"
intro:
  - excerpt: 'In Intelligent Robotic Endoscopes (IRE) for Improved Healthcare Services, we envision creating intelligent robotic solutions to perform colonoscopies, ensuring faster and less painful screenings for patients suffering from bowel cancer.'
---

{% assign intro_excerpt = page.intro[0].excerpt %}
<h3 class="intro-excerpt" style="font-size: 1em; margin-top: 60px; margin-bottom: 60px; padding-top: 10px; padding-bottom: 10px; font-weight: normal;">{{ intro_excerpt }}</h3>
<hr style="margin-bottom: 40px;">

{% include feature_row id="first_row" %}

<h3 style="margin-top: 80px; margin-bottom: 30px; font-weight: normal; font-size: 1em;">Read more about the latest activities:</h3>

<ul class="post-list" style="list-style: none; padding: 0;">
  {% for post in site.posts limit:5 %}
    <li class="post-item" style="display: flex; margin-bottom: 40px; border: 1px solid #ccc; border-radius: 8px; overflow: hidden;">
      <div class="post-thumbnail" style="flex: 0 0 auto; margin-right: 20px; width: 200px; display: flex; justify-content: center; align-items: center; margin-left: 20px;">
        <img src="{{ post.image | relative_url}}" alt="{{ post.title }}" style="height: 80%; object-fit: cover;">
      </div>
      <div class="post-content" style="flex: 1 1 auto; margin-top: 0; margin-bottom: 0; padding: 50px;">
        <p class="post-title" style="font-size: 1em; margin-bottom: 10px; font-weight: bold;"><a href="{{ post.url }}">{{ post.title }}</a></p>
        <p class="excerpt" style="font-size: 0.8em; margin-top: 5px;">{{ post.excerpt }}</p>
      </div>
    </li>
  {% endfor %}
</ul>
